<div class="container" data-controller="navigation">

  <div class="hotspot-navbar d-flex justify-content-between">

    <% hotspot = @hotspot_instances[0] %>
    <%= button_tag(type: 'submit', class: "btn btn-trajet p-0 me-2   overflow-hidden opacity-0") do %>

      <div
        class="w-100 h-100"
        style="background-image: url(<%=  cl_image_path(hotspot.photo.key, {secure: true}) %>);  background-size: cover;"
      >
        &nbsp;
      </div>

    <% end %>


    <%= button_tag(type: 'submit', class: "btn btn-trajet p-0 me-2   overflow-hidden", style: "background-image: url('https://res.cloudinary.com/degkqrdcu/image/upload/v1678888356/Plan_de_travail_4_copie_2_imqhro.png'); background-size: cover;") do %>

      <div
        class="w-100 h-100"
        >
        &nbsp;
      </div>
    <% end %>


    <% hotspot = @hotspot_instances[0] %>
    <%= button_tag(type: 'submit', class: "btn btn-trajet p-0 me-2 overflow-hidden") do %>
      <div
        class="w-100 h-100"
        style="background-image: url(<%=  cl_image_path(hotspot.photo.key, {secure: true}) %>);  background-size: cover;"
      >
        &nbsp;
      </div>
    <% end %>
  </div>

  <div
    class="mapitinerarynav"
    style="position: relative; background-image: url('https://res.cloudinary.com/degkqrdcu/image/upload/v1678896470/navigation_new_mhgrrz.png'); background-size: cover;"
  >
  </div>

  <div
    class="mapprogressnav"
    style="position: relative; background-image: url('https://res.cloudinary.com/degkqrdcu/image/upload/v1678983192/Keiro_chargement_2_jl1ek4.png'); background-size: cover;"
  >
  </div>

  <div class="d-flex justify-content-between boxrecapbuttons"  data-action="click->navigation#paused" >
    <a class="big_blue_button" data-navigation-target="button" >STOP</a>
    <a class="big_blue_button d-none" style="width: 170px" href="<%= itinerary_path(@itinerary) %>" data-navigation-target="button2">BACK</a>
    <a class="big_blue_button d-none" style="width: 170px" href="<%= itinerary_recap_path(@itinerary) %>" data-navigation-target="button3">END</a>
    <a class="big_blue_button p-3 d-none" style="position: absolute; top:-24rem; z-index: 9; width:366px;" data-navigation-target="button4">NAVIGATION PAUSED</a>
  </div>

</div>
