<div class="container-mobile" data-controller="recap">

  <div class="hotspot-navbar d-flex">
    <div class="d-flex  scrollable-list" style="overflow-x: scroll;">
        <%# ici je recupère une collection de selected hostpots %>
        <% selected_hotspot_ids = [] %>
        <% @hotspot_instances.each do |hotspot| %>
          <% selected_hotspot_ids << hotspot.id %>

          <%= button_tag(class: "btn btn-trajet btn-selected p-0 me-2 position-relative overflow-hidden") do %>
            <div
              class="w-100 h-100"
              style="background-image: url(<%=  cl_image_path(hotspot.photo.key, {secure: true}) %>);  background-size: cover;"
            >
              &nbsp;
            </div>
          <% end %>
        <% end %>
    </div>
  </div>

  <div class= "mapitineraryrecap"
    data-controller="passingcoordinates"
    data-passingcoordinates-itinerary-route-value="<%=  @itinerary.route.to_json %>"
    data-passingcoordinates-markers-value="<%= @markers.to_json %>"
    data-passingcoordinates-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div
    class="mapprogress"
    style="position: relative; background-image: url('https://res.cloudinary.com/degkqrdcu/image/upload/v1678983192/Keiro_chargement_2_jl1ek4.png'); background-size: cover;"
  >
  </div>


  <div class="d-flex justify-content-between boxrecapbuttons">
    <div data-recap-target="star" class="fa-solid fa-star favorite_button" data-action="click->recap#favorite">
      <a class="big_blue_button p-3 d-none" style="position: absolute; top:-22rem;  left:0rem; z-index: 9; width:366px; font-family: 'Roboto';" data-recap-target="button_fav">ADDED TO FAVORITE</a></div>
    <div class="share_button" data-action="click->recap#share">
    SHARE
     <a class="big_blue_button p-3 d-none" style="position: absolute; top:-22rem; left:0rem;  z-index: 9; width:366px; font-family: 'Roboto'" data-recap-target="button_share">SHARED ON STRAVA</a></div>
    </div>

  <div class="distanceboxshowrecap" data-controller="distance">
    <span class="rs-label-recap" style="font-weight:500;"><%= @itinerary.length %>KM</span>
    <span class="rs-label-recap" style="font-weight:500;"> ... D+</span>
    <span class="rs-label-recap" style="font-weight:500;"><%= @itinerary.duration %>min</span>
  </div>

</div>
