<div class="container" >
<%# ------ je commence ici -------- %>

  <div class="hotspot-navbar d-flex">

    <div class="btn-trajet d-flex me-2">
      <a href="<%= itineraries_path %>" class="">Anciens Trajets</a>
    </div>


    <div class="d-flex  scrollable-list" style="overflow-x: scroll;">
        <%# ici je recupère une collection de selected hostpots %>
        <% selected_hotspot_ids = [] %>
        <% @hotspot_instances.each do |hotspot| %>
          <% selected_hotspot_ids << hotspot.id %>

          <%= button_tag(type: 'submit', class: "btn btn-trajet btn-selected p-0 me-2 position-relative overflow-hidden") do %>
            <div
              class="w-100 h-100 "
              style="background-image: url(<%= hotspot.photo.url %>);  background-size: cover;"
            >
              &nbsp;
            </div>
          <% end %>
        <% end %>
    </div>
  </div>

  <%# ------ je finis ici -------- %>
  <div class= "mapitinerary"
    data-controller="passingcoordinates"
    data-passingcoordinates-itinerary-route-value="<%=  @itinerary.route.to_json %>"
    data-passingcoordinates-markers-value="<%= @markers.to_json %>"
    data-passingcoordinates-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">


    <div class="distanceboxshow" data-controller="distance">
      <span class="rs-label-show" style="font-weight:500;">22.7 KM</span>
      <span class="rs-label-show" style="font-weight:500;">267M D+</span>
      <span class="rs-label-show" style="font-weight:500;">2h20</span>
    </div>




</div>

  <div class="flex-go justify-content-between">
    <a class="big_blue_button" href="#">SEND GPX</a>
    <a class="big_blue_button" href="<%=itinerary_navigation_path(@itinerary)%>">NAVIGATE</a>
  </div>
