<div class="container-mobile" data-controller="reveal" data-reveal-hidden-class="d-none" >
  <div class="hotspot-navbar d-flex">

    <div class="btn-trajet d-flex me-2">
      <a href="<%= itineraries_path %>" class="">Anciens Trajets</a>
    </div>

    <div class="d-flex  scrollable-list" style="overflow-x: scroll;" data-action="long-press->reveal#toggle">
    <% index = 0 %>
        <%# ici je recupère une collection de selected hostpots %>
        <% selected_hotspot_ids = [] %>
        <% @hotspot_instances.each do |hotspot| %>

          <% selected_hotspot_ids << hotspot.id %>

          <%= button_tag(type: 'submit', class: "btn btn-trajet btn-selected p-0 me-2 position-relative overflow-hidden") do %>

            <div
              class="w-100 h-100"

              style="background-image: url(<%=  cl_image_path(hotspot.photo.key, {secure: true}) %>);  background-size: cover;"

              data-action="long-press->reveal#show"
              data-long-press-delay="400"
              style="background-image: url(<%=  cl_image_path(hotspot.photo.key, {secure: true}) %>);  background-size: cover;"
              data-reveal-target="photo"
              data-reveal-index-param="<%= index %>"
              data-value= "<%= hotspot.name %>"
              data-value-2= "<%= hotspot.description %>"
              data-value-3= "<%= hotspot.categories %>"

            >
              &nbsp;
            </div>
          <% end %>
          <% index += 1 %>

        <% end %>
    </div>
  </div>

  <div class= "mapitinerary"
    data-controller="passingcoordinates"
    data-passingcoordinates-itinerary-route-value="<%=  @itinerary.route.to_json %>"
    data-passingcoordinates-markers-value="<%= @markers.to_json %>"
    data-passingcoordinates-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

    <div class="distanceboxshow" data-controller="distance">
      <span class="rs-label-show" style="font-weight:500;"> <%= @itinerary.length %>KM</span>
      <span class="rs-label-show" style="font-weight:500;"> ... D+</span>
      <span class="rs-label-show" style="font-weight:500;"><%= @itinerary.duration%>min</span>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <a class="big_blue_button" style="width: 170px" href="#">SEND GPX</a>
    <a class="big_blue_button" style="width: 170px" href="<%=itinerary_navigation_path(@itinerary)%>">NAVIGATE</a>
  </div>

  <div class="reveal-relative">
    <div data-reveal-target="item" class="d-none grey_box" style="margin-top: 12.5rem;">
      <div class="white_container">
      </div>
     </div>
  </div>

</div>
