<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/degkqrdcu/image/upload/v1678552112/im3kfniqnpdkt1wcc7go.png" %>
    <% end %>

    <div>
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>


          <%= link_to edit_user_registration_path, class: "avatar dropdown-toggle" do %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/adrienlupo", class: "avatar dropdown-toggle" %>
            <% end %>

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
