<div class="container">

  <div class="menu", data-controller="carousel">
    <div class="menu--wrapper">
      <% @hotspots.each do |hotspot| %>
        <div class="menu--item">
          <figure><%= cl_image_tag hotspot.photo.key, height: 300, width: 400, crop: :fill %></figure>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row simple-form btn-trajet-container" data-controller="geolocate">
    <div class="btn-trajet"><a href="#" class="">Anciens Trajets</a></div>
    <%= simple_form_for @request do |f| %>
      <%= f.input :longitude,
                as: :hidden,
                input_html: {data: {geolocate_target: "longitude"}, class: "input-longitude"}
      %>


      <%= f.input  :latitude,
                as: :hidden,
                input_html: {data: {geolocate_target: "latitude"}, class: "input-latitude"}
      %>

  </div><br>

      <div class = "map"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>


      <div class="distance_box" data-controller="distance">
          <p class = "labelslider" data-distance-target="distanceinject">1 km</p>
          <%= f.input :distance,
                        label: false,
                        as: :range,
                        input_html: {value: 1, max: 50, class: "slider", data: { action: "input->distance#update", distance_target: "distanceinput" }} %>
      </div>

        <%= f.input :category,
                  multiple: true,
                  as: :check_boxes,
                  collection_wrapper_tag: "div",
                  collection_wrapper_class: "category-wrapper",
                  item_wrapper_class: "category-item",
                  input_html: {class: "category-selector", :multiple => true},
                  collection: Request::CATEGORIES %>

         <%= f.button :submit, "LOAD", class: "big_blue_button"%>
        <% end %>
        <br>

</div>
