<div class="container">

  <div class="menu", data-controller="carousel">
    <div class="menu--wrapper">
      <% @hotspots.each do |hotspot| %>
        <div class="menu--item">
          <figure><%= image_tag(hotspot.photo) %></figure>
        </div>
      <% end %>
    </div>
  </div>



  <div class="row simple-form" data-controller="geolocate">
    <%= simple_form_for @request do |f| %>
      <%= f.input :distance%>

      <%= f.input :category,
                multiple: true,
                as: :check_boxes,
                collection_wrapper_tag: "div",
                collection_wrapper_class: "category-wrapper",
                item_wrapper_class: "category-item",
                input_html: {class: "category-selector", :multiple => true},
                collection: Request::CATEGORIES %>

      <%= f.input :longitude,
                as: :hidden,
                input_html: {data: {geolocate_target: "longitude"}, class: "input-longitude"}
      %>


      <%= f.input  :latitude,
                as: :hidden,
                input_html: {data: {geolocate_target: "latitude"}, class: "input-latitude"}
      %>

  </div><br>

  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

      <%= f.button :submit, "LOAD", class: "big_blue_button"%>
    <% end %>
  </div><br>

</div>
