<div class="container">



  <div class="row page-title">

    <h1>Request informations</h1>
    <p>latitude:
    <%= @request.latitude %>
    </p>
    <p>longitude:
    <%= @request.longitude %>
    </p>

    <p>distance selectionnée:
    <%= @request.distance %> km</p>
    <p>Hotspots correspondant aux categories cochés par le user</p>

    <ul>
    <% @hotspots.each do |hotspot| %>
    <li> <%= hotspot.name %> </li>
    <% end %>

    </ul>
  </div>


    <% hotspots_id = [] %>
    <%  @hotspots.each do |hotspot| %>
    <%  hotspots_id << hotspot.id %>
    <%  end %>

    <div class="row simple-form">
      <%= simple_form_for @itinerary do |f| %>
        <%= f.input :length,
                    as: :hidden,
                    input_html: {value: @request.distance}%>

        <%= f.input :request_id,
                    as: :hidden,
                    input_html: {value: @request.id}%>

        <%# <%= f.input :latitude,
                    # as: :hidden,
                    value: @request.latitude%>

        <%# <%= f.input :longitude,
                    # as: :hidden,
                    value: @request.longitude%>

        <%= f.input :selected_hotspots_id,
                    as: :hidden,
                    input_html: {value: hotspots_id}%>

        <%= f.button :submit, class: "btn-primary" %>
      <% end %>
    </div>

    <% content_for :meta_title, "#{@hotspot.name} is on #{DEFAULT_META["meta_product_name"]}" %>
    <% content_for :meta_description, @hotspot.description %>
    <% content_for :meta_image, cl_image_path(@hotspot.photo.key) if @hotspot.photo.attached? %>

</div>
