<div id="<%= dom_id hotspot %>">
  <p>
    <strong>Name:</strong>
    <%= hotspot.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= hotspot.description %>
  </p>

  <%# <p> %>
    <%# <strong>Hotspot picture:</strong> %>
    <%# <%= hotspot.hotspot_picture %>
  <%# </p> %>

  <p>
    <strong>Address:</strong>
    <%= hotspot.address %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= hotspot.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= hotspot.longitude %>
  </p>

</div>
