<p style="color: green"><%= notice %></p>

<h1>Hotspots</h1>

<div id="hotspots">
  <% @hotspots.each do |hotspot| %>
    <%= render hotspot %>
    <p>
      <%= link_to "Show this hotspot", hotspot %>
    </p>
  <% end %>
</div>

<%= link_to "New hotspot", new_hotspot_path %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
