<p style="color: green"><%= notice %></p>

<%= render @hotspot %>

<div>
  <%= link_to "Edit this hotspot", edit_hotspot_path(@hotspot) %> |
  <%= link_to "Back to hotspots", hotspots_path %>

  <%= button_to "Destroy this hotspot", @hotspot, method: :delete %>
</div>
